h1{
  font-size: 50px;
  text-align: center;
  margin-top:50px;
  word-spacing: 5px;
}
.clear{
  background: var(--lightblue);
  text-transform:capitalize;
  margin-bottom:20px; 
  border: none;
}
.clear:hover{
  border:1px solid var(--lightblue);
  background: white;
}